.li_su_positioning {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home_msg {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
}

.li_su_wrapper {
  /* border: 1px solid purple; */
  overflow: visible;
  width: 380px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.li_su_content_wrapper {
  /* border: 1px solid orange; */
  overflow: visible;
  width: 100%;
  /* height: 60%; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.welcome {
  font-size: 18px;
}

.company_name {
  font-style: italic;
  position: relative;
  overflow: visible;
  display: block;
}

.company_name:hover {
  cursor: pointer;
}

.company_name:hover > #company_svg {
  animation: 400ms fillSvg linear;
  display: block;
}

#company_svg {
  position: absolute;
  width: 120px;
  /* height: 110px; */
  top: -115%;
  left: -7%;
  background-color: transparent;
  rotate: 18deg;
  stroke-dasharray: 343;
  display: none;
}

@keyframes fillSvg {
  0% {
    stroke-dashoffset: 343;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.home_day {
  align-self: end;
}

.link_wrapper {
  /* border: 1px solid plum; */
  width: 100%;
  /* height: 40%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link_wrapper > a {
  /* margin: 10px; */
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

.link_wrapper > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40%;
  background-color: rgba(255, 255, 0, 0.5);
  bottom: 20%;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link_wrapper > a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
