.login_page_wrapper {
  height: 100svh;
  overflow: hidden;
}

.login_wrapper {
  height: 100%;
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.signup_btn {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  text-decoration: none;
}

.login_form {
  width: 380px;
  height: 175px;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.log_in_msg {
  font-size: 18px;
}

.input_content_wrapper {
  /* border: 1px solid salmon; */
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.input_wrapper > input {
  height: 30px;
  width: 100%;
  margin-top: 5px;
  border: none;
  font-size: 14px;
  border-bottom: 0.25px solid grey;
  background-color: transparent;
}

input:focus {
  outline: none;
}

.login_btn {
  border: none;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  background-color: transparent;
}

.login_btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  bottom: 20%;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.login_btn:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
