.profile_wrapper {
  /* border: 1px solid orange; */
  height: 100svh;
  display: grid;
  grid-template-areas: "nav" "welcome" "content";
  grid-template-rows: 34px 130px 1fr;
}

.prof_nav_wrapper {
  grid-area: nav;
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: end;
}

.prof_nav_link {
  margin-right: 10px;
  text-decoration: none;
  font-size: 14px;
}

.prof_nav_link:hover {
  font-style: italic;
}

.a_company {
  flex-grow: 1;
  margin-left: 10px;
}

.nav_btn {
  border: none;
  background-color: transparent;
}

.nav_btn:hover {
  font-style: italic;
  cursor: pointer;
}

.prof_welcome_wrapper {
  grid-area: welcome;
  /* border: 1px solid orange; */
  background-color: rgb(100, 100, 100);
  display: flex;
  align-items: end;
}

.prof_welcome_wrapper > p {
  background-color: transparent;
  margin-left: 10px;
  font-size: 42px;
  margin-bottom: 10px;
}

.prof_cont_wrapper {
  grid-area: content;
  border-top: 1px solid black;
  background-color: rgb(220, 220, 220);
  color: black;
}

.prof_content_header {
  border-bottom: 1px solid black;
  color: black;
  padding-left: 10px;
}

.accordion {
  border-bottom: 1px solid black;
}

.accordion_header {
  min-height: 50px;
  display: flex;
  align-items: center;
}

.accordion_header:hover {
  background-color: rgb(205, 205, 205);
  cursor: pointer;
}

.accordion_header > p {
  /* border: 1px solid brown; */
  margin: 0px 10px;
}

.accordion_title {
  color: black;
}

.accordion_username {
  color: black;
}

.accordion_year {
  color: black;
}

.accordion_body {
  max-height: 0;
  overflow: hidden;
  transition: all 1s cubic-bezier(0, 1, 0, 1);
}

.accordion_body.show {
  height: auto;
  max-height: 9999px;
  transition: all 1s cubic-bezier(1, 0, 1, 0);
}

.accordion_content_wrapper {
  min-height: 75px;
  /* border: 1px solid purple; */
  display: flex;
  align-items: center;
}

.accordion_content {
  color: black;
  /* border: 1px solid orchid; */
  margin-left: 10px;
}
