.signup_page_wrapper {
  height: 100svh;
  overflow: hidden;
}

.signup_wrapper {
  height: 100%;
  /* border: 1px solid orange; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.to_login_btn {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  text-decoration: none;
}

.signup_form {
  /* border: 1px solid green; */
  width: 420px;
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
}

.signup_welcome {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
}

.signup_input_btn_wrapper {
  height: 85%;
  /* border: 1px solid purple; */
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.signup_input_wrapper {
  /* border: 1px solid orange; */
  width: 70%;
}

.signup_input_wrapper > input {
  height: 30px;
  width: 100%;
  margin-top: 5px;
  border: none;
  font-size: 14px;
  border-bottom: 0.25px solid grey;
  background-color: transparent;
}

.signup_submit_btn_wrapper {
}

.signup_submit_btn_wrapper > .signup_submit_btn {
  border: none;
  font-size: 18px;
  cursor: pointer;
  background-color: transparent;
  position: relative;
}

.signup_submit_btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40%;
  background-color: rgba(255, 255, 0, 0.5);
  bottom: 20%;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.signup_submit_btn:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
